.movie_list {
  display: grid;
  max-width: calc(100vw - 60px);
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
  padding: 16px 0 50px;
  list-style: none;
  margin: 0px auto;
}

.movie_card {
  transition: transform var(--animation-duration) var(--timing-function);
  background-color: rgba(94, 89, 89, 0.5);
  max-width: 460px;
  border-radius: 5px;
}

.movie_card:hover {
  transform: scale(1.03);
  background-color: rgba(94, 89, 89);
}

.movie_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
