.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: var(--color-gray);
  font-size: 18px;
}

.navLink_active {
  color: var(--color-blue);
}

.navLink:hover {
  color: var(--color-blue);
}
